<!DOCTYPE html>
<html lang="en">
<head>
    {{>heades}}
</head>
<body>
     <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">


                <div class="col-md-12 col-12 main_header_left align-items-center">

                    <figure class="errimg">
                     <img src="images/w2.jpeg" alt="" class="img-fluid"> 
                    </figure>
                
                <p>Welcome To Weather App</p>
                <h1>{{errormsg}}</h1>
                <h1>I Am mern Stack <span class="text-clr">developer</span></h1>
                <a href="/"><button>Back To Home</button></a>
              </div>

          <!-- right side div -->
             
<!-- end -->
            </div>
          </div>
      </div>
  </div>
</body>
</html>